body {background-color: lightgrey;}

#container {
    display: inline-grid;
    grid-template-columns: 30vw 30vw auto;
    grid-template-rows: 30vh 65vh;
    max-height: 70vh;
    width: 97vw;
    gap: 10px 10px;
}

#SearchBodyContainer {
    background-color: white;
    grid-row-start: 1;
    grid-row-end: 2;
    grid-column-start: 1;
    grid-column-end: 4;
    display: grid;
    grid-template-rows: 20% 20% 20% auto;
    padding-left: 10px;
}

h1 {
    grid-row-start: 1;
    grid-row-end: 2;
    font-family: 'Segoe UI'
}

#Search {
    grid-row-start: 2;
    grid-row-end: 3;
    padding-top: 10px;
}

#searchbar {
    border:1px solid;
    border-radius: 12px;
    border-color: black;
    width: 60%;
}

#Filter {
    grid-row-start: 3;
    grid-row-end: 4;
    display: grid;
    grid-template-columns: 20% 20% 20% auto;
}

#commandspopup {
    height: 400px;
    width: 400px;
    overflow: scroll;

}

#inlineHelp {
    display: none;
    background-color: white;
    position: absolute;
    top: 0px;
    right: 0px;
    height: 400px;
    width: 400px;
}

#advancedOptionsButton {
    width: 150px;
    
    align-self: center;
    margin-top: 10px;
    margin-left: auto;
    margin-right: auto;
}

#Results {
    background-color: grey;
    grid-row-start: 2;
    grid-row-end: 3;
    grid-column-start: 1;
    grid-column-end: 3;
    padding: 10px;
}

#Recently {
    background-color: lightblue;
    grid-row-start: 2;
    grid-row-end: 3;
    grid-column-start: 3;
    grid-column-end: 4;
    padding: 10px;
}

.Block {
    border: 1px solid;
    border-color: black;
    border-radius: 10px;
}

.ContainsText{
    font-family: 'Segoe UI';
}

table {
    border: 2px solid rgb(0, 0, 0);

}

th,
td {
    padding: 5px;
    border: 1px solid rgb(160 160 160);
    font-family: 'Segoe UI';
}