body {
    background-color: lightgrey;
    font-family: sans-serif;
}

#container {
    display: flex;
    flex-direction: column;
    height: 95vh;
    width: 97vw;
    gap: 10px 10px;
}

#SearchBodyContainer {
    height: 20vh;
    background-color: white;
    display: grid;
    grid-template-rows: 20% 15% 30% 35%;
    grid-template-columns: 60% auto;
}

h1 {
    grid-area: 1/1/2/2;
    
}

#Search {
    grid-row-start: 2;
    grid-row-end: 3;
    padding-top: 10px;
}

#searchbar {
    border:1px solid;
    border-radius: 12px;
    border-color: black;
    width: 60%;
}

#Filter {
    margin-top: 10px;
    grid-row-start: 3;
    grid-row-end: 4;
    display: grid;
    grid-template-columns: 20% 20% 20% auto;
}

#commandspopup {
    height: 100%;
    overflow-y: scroll;
    overflow-x: hidden;
}

#inlineHelp {
    height: 100%; 
    display: flex;
    background-color: white;
    top: 0px;
    right: 0px;
    grid-area: 1/2/5/3;
}

#advancedOptionsButton {
    width: 150px;
    align-self: center;
    margin-top: 10px;
    margin-left: auto;
    margin-right: auto;
    grid-area: 4/1/5/2;
    align-items: start;
    justify-content: start;
}
#advancedOptions{
    grid-area: 3/1/4/2;
}

#Results {
    background-color: grey;
    height: 100%;
}

.Block {
    border: 1px solid;
    border-color: black;
    border-radius: 10px;
    padding: 10px
}

table {
    width: 100%;
    border: 2px solid rgb(0, 0, 0);
}

th{
    position: sticky;
    top: 0;
    padding: 5px;
    border: 1px solid rgb(160 160 160);
    background-color: white;
}
td {
    padding: 5px;
    border: 1px solid rgb(160 160 160);
}